.login
  .container
    %center
      .circle
        = image_tag("highlands-white.png", :width => "65")
      %h3.blue Sign In to Your Account
    = form_tag f1.new_f1_user_session_path do
      = text_field_tag "user[username]", nil, :placeholder => "Username"
      = password_field_tag "user[password]", nil, :placeholder => "Password"
      %center
        = link_to "Forget your password?", "#", :class => "forgot-password"
      = submit_tag "Sign In", :class => "submit"
      %center
        %hr
        %span.strike-through OR
        = link_to "Sign Up for a New Account", "https://chbhmal.infellowship.com/UserLogin/New" 

